{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class='card mb-3'>
    <div class='card-header'>
        <div class='card-body' style='padding-top: 10px; padding-bottom: 10px;'>
            <form id="add_dog" method="POST" action="{% url 'app:add_dog' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy add_dog %}
                <input class="btn btn-success" type="submit" name="submit" value="Add Dog" />
            </form>
        </div>
    </div>
</div>

{% endblock content %}