{% extends 'base.html' %}

{% load static %}
{% block content %}
<html>
<link rel="stylesheet" href="{% static 'index.css' %}" />
    <div class="containers">
        <div class="card">
            <h5>{{ dog_detail.name }}</h5>
            <h5>{{ dog_detail.breed }}</h5>
                <img src="{{ dog_detail.image.url }}" height="200" width="200">
                <br />
                {% if user.is_authenticated and dog_detail.is_available == True %}
                <button type="submit" name="submit" value="Rent Dog"><a href="{% url 'app:rent_dog' dog_detail.id %}">Rent Dog</a></button>
                {% elif dog_detail.is_available == False %}
                <p>This dog is out for rent!</p>
                {% else %}
                <p>Login to rent this dog!</p>
                {% endif %}
        </div>
    </div>
</html>
{% endblock content %}