{% extends 'base.html' %}

{% load static %}
{% block content %}
<html>
<link rel="stylesheet" href="{% static 'index.css' %}" />
    <div class="containers">
        <div class="card">
            <h5>{{ dog_detail.name }}</h5>
            <h5>{{ dog_detail.breed }}</h5>
                <img src="{{ dog_detail.image.url }}" height="200" width="200">
                <br />
                {% if user.is_authenticated and dog_detail.is_available == True %}
                <button type="submit" name="submit" value="Rent Dog"><a href="{% url 'app:rent_dog' dog_detail.id %}">Rent Dog</a></button>
                {% elif dog_detail.is_available == False %}
                <p>This dog is out for rent!</p>
                {% else %}
                <p>Login to rent this dog!</p>
                {% endif %}
        </div>
    </div>
    <h3>Reviews</h3>
    {% if not reviews %}
    <div>
        <p>{{ dog_detail.name }} has no reviews!</p>
    </div>
    {% else %}
    <ul style="list-style-type:none">
        <div>
            {% for review in reviews %}
            {% if review.dog_id == dog_detail.id and review.user_id != user.id %}
            <div>
                <li>
                    <p>{{ review.date }}</p>
                    <p>{{ review.reviewer|title }} - {{ review.description }}</p>
                </li>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </ul>
    {% endif %}
</html>
{% endblock content %}