{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'index.css' %}" />

<br />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <image src="/images/images/rentme.jpeg" height=250 width=1000></image>
        <hr class="my-4">
        <h1 class="display-4">Dogs Available For Rent</h1>
        <p class="lead">Explore the world with these dogs today!</p>
    </div>
</div>

<ul style='list-style-type:none; padding: 0;'>
    <div class="containers" style='margin-right: 10px; margin-left: 10px;'>
        {% for dog in dogs %}
        {% if dog.is_available == True and dog.owner_id != user.id %}
        <li>
            <div class="card bg-light mb-3" style="width: 12rem;">
                <img class="card-img-top" src="{{ dog.image.url }}" height="200" width="200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'app:dog_detail' dog.id %}">{{ dog.name }}</a></h5>
                    <p class="card-text" style='font-size: 0.8em;'>{{ dog.breed }}</p>
                </div>
            </div>
        </li>

        {% endif %}
        {% endfor %}
    </div>
</ul>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <image src="/images/images/rented.jpeg" height=250 width=1000></image>
        <hr class="my-4">
        <h1 class="display-4">Dogs Out For Rent</h1>
        <p class="lead">These pups are currently having a blast with their new friends!</p>
    </div>
</div>

<ul style='list-style-type:none; padding: 0;'>
    <div class="containers" style='margin-right: 10px; margin-left: 10px;'>
        {% for dog in dogs %}
        {% if dog.is_available == False and dog.owner_id != user.id %}
        <li>
            <div class="card bg-light mb-3" style="width: 12rem;">
                <img class="card-img-top" src="{{ dog.image.url }}" height="200" width="200" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'app:dog_detail' dog.id %}">{{ dog.name }}</a></h5>
                    <p class="card-text" style='font-size: 0.8em;'>{{ dog.breed }}</p>
                </div>
                {% for rental in dogrental %}
                {% if rental.renter_id == user.id and rental.dog_id == dog.id %}
                <a class="btn btn-warning" role="button" href="{% url 'app:return_dog' dog.id %}">Return Dog</a>
                <a class="btn btn-info" role="button" href="{% url 'app:add_review' dog.id %}">Review Dog</a>
                {% endif %}
                {% endfor %}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </div>
</ul>

{% endblock content %}