{% extends 'base.html' %}

{% load static %}
{% block content %}
<html>
<link rel="stylesheet" href="{% static 'index.css' %}" />

<div class='messages'>
    {% for message in messages %}
    <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
    {% endfor %}
</div>

<ul style="list-style-type:none">
    <div class="containers">
        {% if not your_dogs %}
        <div>
            <p>You have no dogs!</p>
            <button><a href="{% url 'app:add_dog' %}">Add a dog</a></button>
        </div>
        {% else %}
            {% for dog in your_dogs %}
            <div class="card">
                <li>
                    <h5><a href="{% url 'app:dog_detail' dog.id %}">{{ dog.name }}</a></h5>
                    <h5>{{ dog.breed }}</h5>
                    <img src="{{ dog.image.url }}" height="200" width="200">
                    <br />
                    <button><a href="{% url 'app:edit_dog' dog.id %}">Edit {{ dog.name }}</a></button>
                    <button><a href="{% url 'app:delete_dog' dog.id %}">Delete {{ dog.name }}</a></button>
                </li>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</ul>

</html>
{% endblock content %}