{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<br />

<div class='messages'>
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
    {% else %}
    <div class='{{ message.tags }} alert alert-success' role='alert'>{{ message }}</div>
    {% endif %}
    {% endfor %}
</div>

{% if user.is_authenticated %}
<div style='margin-right: 10px; margin-left: 10px; text-align: center;'>
    <h1 class="card-title">Welcome to Part Time Pets, {{ user.first_name|title }}</h1>
    <h6 class="card-subtitle mb-2 text-muted">We specialize in introducing dogs to new friends! Start your adventures today!</h6>
    <image style='display: block; margin: 0 auto;' src="/images/images/ptplogo.png" height=500 width=1000></image>
</div>
{% else %}
<div style='margin-right: 10px; margin-left: 10px; text-align: center;'>
        <h1 class="card-title">Welcome to Part Time Pets!</h1>
        <h6 class="card-subtitle mb-2 text-muted">We specialize in introducing dogs to new friends! Start your adventures today!</h6>
        <image style='display: block; margin: 0 auto;' src="/images/images/ptplogo.png" height=500 width=1000></image>
    </div>
{% endif %}

{% endblock content %}