{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B6C2D9;">
    <a class="navbar-brand" href="{% url 'app:index' %}">Part Time Pets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'app:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:dogs' %}">Dogs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:add_dog' %}">Add Dog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:your_dog_list' user.id %}">Your Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:profile' user.id %}">Profile</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-center">
            <form method="get" action="/search_results/" class="form-inline">
                <input type="text" id="searchBox" class="form-control mr-sm-2" name="q" placeholder="Search Dog Breeds"
                    required>
                <input type="submit" class="btn btn-success my-2 my-sm-0" value="Search">
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B6C2D9;">
    <a class="navbar-brand" href="{% url 'app:index' %}">Part Time Pets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'app:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:dogs' %}">Dogs <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-center">
            <form method="get" action="/search_results/" class="form-inline">
                <input type="text" id="searchBox" class="form-control mr-sm-2" name="q" placeholder="Search Dog Breeds"
                    required>
                <input type="submit" class="btn btn-success my-2 my-sm-0" value="Search">
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:login' %}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}