{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'app:index' %}">Return to the homepage.</a><br />
{% else %}

<div class='card mb-3'>
        <div class='card-header'>
                <image style='border: 1px solid black; float: right;' src="/images/images/register.jpeg" height=450
                        width=750></image>
                <h1 class="card-header">Register with Part Time Pets</h1>
                <div class='card-body' style='padding-top: 10px; padding-bottom: 0px;'>
                        <form id="user_form" method="POST" action="{% url 'app:register' %}">
                                {% csrf_token %}
                                {% crispy user_form %}
                                <br />
                                <input class="btn btn-success" type="submit" name="submit" value="Register" />
                        </form>
                </div>
        </div>
</div>
{% endif %}
{% endblock content %}