{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Register with Part Time Pets</h1>

{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'app:index' %}">Return to the homepage.</a><br />
{% else %}

<div class='card mb-3'>
        <div class='card-header'>
                <div class='card-body' style='padding-top: 10px; padding-bottom: 10px;'>
                        <form id="user_form" method="POST" action="{% url 'app:register' %}">
                                {% csrf_token %}
                                {% crispy user_form %}
                                <input class="btn btn-success" type="submit" name="submit" value="Register" />
                        </form>
                </div>
        </div>
</div>
{% endif %}
{% endblock content %}