{% extends 'base.html' %}

{% block content %}
<br />

<div class='messages'>
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class='{{ message.tags }} alert alert-danger' role='alert'>{{ message }}</div>
    {% else %}
    <div class='{{ message.tags }} alert alert-success' role='alert'>{{ message }}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ profile.first_name|title }} {{ profile.last_name|title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ profile.username }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ profile.email }}</h6>
        <p class="card-text">While your profile isn't visible to other users just yet, it keeps owners safe when anything happens to their dogs.</p>
        <div class="card-body">
            <a class="btn btn-primary btn-lg btn-block" role="button" href="{% url 'app:edit_user' profile.id %}">Edit Your Profile</a>
            <a class="btn btn-primary btn-lg btn-block" role="button" href="{% url 'app:change_password' %}">Change Password</a>
            <a class="btn btn-warning btn-lg btn-block" role="button" href="{% url 'app:are_you_sure' user.id %}">Delete Profile</a>
        </div>
    </div>
</div>

{% endblock content %}